/* src/styles/LandingPage.css */
#landing-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.content {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #4caf50;
}

.explore-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    background-color: #45a049;
}
